* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.back::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: linear-gradient(#ff4d5a, #072142);
  border-radius: 50%;
  transform: translate(-420px, -180px);
  z-index: -1;
}
.back::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  background: linear-gradient(#8c2b7a, #072142);
  border-radius: 50%;
  transform: translate(400px, 180px);
  z-index: -1;
}

.container {
  position: relative;
  width: 100%;
  z-index: 1000;
  max-width: 1000px;
  height: 500px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: rgba(255, 255, 255, 0.1);
  border-bottom: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(25px);
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -400px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.01);
  pointer-events: none;
  transform: skewX(-15deg);
}

.container h1 {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
}

.btn {
  width: 100%;
  height: 40px;
  margin-top: 40px;
  padding: 0;
  background: linear-gradient(-315deg, #ff4d5a, #8c2b7a, #072142);
  border: 0;
  color: #fff;
}

textarea {
  resize: none;
  height: 80px;
}
