<div class="none-background ">
    <div class="container back container-fluid p-5">
        <div class="titel">
            <h1>Contact Me</h1>
        </div>
        <div class="container log container-fluid">
            <div class="input-group">
                <input type="text" class="form-control name" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <input type="text" class="form-control email" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <textarea  type="text" class="form-control msg" placeholder="Message" aria-label="Message" aria-describedby="basic-addon1"></textarea>
            </div>
            <div class="input-group">
                <button class="btn btn-primary">Submit<fa-icon class="icon" [icon]="faShare"></fa-icon></button>
            </div>
        </div>
    </div>
</div>

