<nav class="navbar fixed-top">
  <div class="container-fluid">
    <a class="name" href="#Home" >Eliran Gabay</a>
    <div class="icons">
      <a target="_blank"  href="https://github.com/elirangabay" aria-label="My github">
        <fa-icon class="icon" [icon]="faGithub" size="3x"></fa-icon>
      </a>
      <a target="_blank"  href="https://www.linkedin.com/in/eliran-gabay/" aria-label="My linkdin">
        <fa-icon class="icon" [icon]="faLinkedin" size="3x"></fa-icon>
      </a>
      <a target="_blank"  href="mailto:eli00ran@gmail.com?subject=subject&body=body" aria-label="My mail">
        <fa-icon class="icon" [icon]="faEnvelope" size="3x"></fa-icon>
      </a>
      <a target="_blank"  href="https://api.whatsapp.com/send?phone=972525691766" aria-label="My whatsapp">
        <fa-icon class="icon" [icon]="faWhatsapp" size="3x"></fa-icon>
      </a>
    </div>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"
    [ngClass]="{'collapsed': navbarOpen}" (click)="collapseNav(); navOpen()">
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon bot-bar"></span>
    </button>
    <div class="nav flex-column collapse" id="navbar" [ngClass]="{'show': navbarVisible}">
      <ul class="col-item">
        <li class="nav-item">
          <a class="nav-link" href="#Home" target="_parent" (click)="collapseNav(); navOpen()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#About" target="_parent" (click)="collapseNav(); navOpen()">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Projects" target="_parent" (click)="collapseNav(); navOpen()">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Contact" target="_parent" (click)="collapseNav(); navOpen()">Contant</a>
        </li>
      </ul>
    </div>
  </div>
</nav>