.container {
  width: 100%;
  margin: auto;
  text-align: center;
  color: #eeeeee;
  justify-content: center;
  align-items: center;
  margin-top: 13%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  margin-left: 5%;
}

.code {
  width: 8%;
  z-index: 1;
  position: absolute;
  margin-bottom: 12%;
}
.comp {
  width: 30%;
  z-index: 0;
  position: absolute;
}
.lins {
  width: 32.5%;
  z-index: -1;
  position: absolute;
  margin-top: 1%;
}
