<div class="none-background ">
    <div class="page">
        <div class="logo">
            <img class="code" src="\assets\icons\code.png">
            <img class="lins" src="\assets\icons\lins.png">
            <img class="comp" src="\assets\icons\comp.png">
        </div>
        <div class="container container-fluid p-5">
            <div class="titel-top">
                <h1 class="display-1">Eliran Gabay</h1>
            </div>
            <div class="titel-mid">
                <h3>| Engineer | Programmer | Web Developer | FrontEnd | BackEnd |</h3>
            </div>
        </div>
    </div>
</div>
