.container {
  width: 100%;
  margin: auto;
  text-align: center;
  color: #eeeeee;
  justify-content: center;
  align-items: center;
  margin-top: 22%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
}

.code {
  width: 12%;
  z-index: 1;
  position: absolute;
  margin-bottom: 20%;
}
.comp {
  width: 50%;
  z-index: 0;
  position: absolute;
}
.lins {
  width: 55%;
  z-index: -1;
  position: absolute;
  margin-top: 1%;
}
