<div class="none-background">
    <div class="container container-fluid p-5">
        <h1 class="display-1">My Projects</h1>
    </div>
    <div class="container container-fluid">
        <div class="box" *ngFor="let repo of repos| slice:0:6; let i=index">
            <span></span>
            <div class="content">
                <h2 >{{repo.name}}</h2>
                <p>Language: {{repo.language}}</p>
                <hr>
                <small>Update on {{repo.updated_at | date:'mediumDate'}}</small>
                <div class="d-grid gap-2 d-md-block">
                    <a [attr.href]="repo.clone_url" target=" _blank" class="btn btn-outline-dark">
                        <fa-icon class="icon" [icon]="faGithub" size="1x"></fa-icon>
                        Repo
                    </a>
                    <a [attr.href]="repo.html_url+'/archive/refs/heads/master.zip'" target=" _blank" class="btn btn-outline-dark">
                        <fa-icon class="icon" [icon]="faGithub" size="1x"></fa-icon>
                        Clone
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

