.sky-color {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;

  background-image: linear-gradient(
    to bottom,
    #072142,
    #061c37,
    #07182b,
    #061220,
    #020b16
  );
  z-index: -200;
}
